@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"); //Poppins font import

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Poppins;
  color: $mid-grey;
  overflow-x: hidden;
  font-size: medium;
}

body {
  background-color: $dark-grey;
}

h1 {
  font-size: 3rem;
  color: white;
}

h2 {
  font-size: 2rem;
  color: $dark-grey;
}

hr {
  width: 13rem;
  height: 3rem;
  background-color: $gold;
  margin-bottom: 2rem;
}

.text_button {
  font-weight: bold;
  border: none;
  background: none;
  color: $gold;
  font-size: 1rem;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.text_button:hover {
  cursor: pointer;
  color: $mid-grey;
}

.click_button {
  padding: 0.75rem 2rem;
  border: none;
  background-color: $gold;
  color: white;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.click_button:hover {
  background-color: $mid-grey;
}

a {
  text-decoration: none;
}

.App {
  background-color: $dark-grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  width: 100vw;
  padding: 0 0.5rem;
  max-width: 1280px;
  position: absolute;
  top: 45px;
}

.card_container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 0.5rem;
  margin-bottom: 4rem;
  margin-top: 15vh;
}

@media (min-width: 768px) {
  .card_container {
    grid-gap: 2rem;
  }
}
